.home-container{
    background-image: url("/src/assets/Artboard\ 1.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.home-content{
   position: absolute;
   left: 25%;
   top: 30%;
   width: 700px;
   text-align: center;
   color: white;
}